
<script>


	import { fly } from 'svelte/transition';
	let visible = false;

	let w;
	let h;
	let size = 32;
	
	let cats = [
		{ id: 'https://www.youtube.com/c/%EC%97%90%EC%8A%A4%EC%98%A4%EB%94%94STORY', name: '에스오디오' },
		{ id: 'https://www.youtube.com/c/GadgetSeoul', name: ' Gadget' },
		{ id: 'https://www.youtube.com/c/%EC%A1%B0%EC%8A%B9%EC%97%B0%EC%9D%98%ED%83%90%EA%B5%AC%EC%83%9D%ED%99%9C', name: '조승현' },
		{ id: 'https://www.youtube.com/c/HidocTV', name: '하이닥' },
		{ id: 'https://www.youtube.com/c/%EB%B0%95%EB%AF%BC%EC%88%98%EB%B0%95%EC%82%AC', name: '박민수' },
		{ id: 'https://www.youtube.com/channel/UCam5BTX9qo6Lf9itKcfhXEQ', name: '소피반' },
		{ id: 'https://www.youtube.com/channel/UC-LIiWGJPdDs-JB4DlpYb4g', name: '권대표' },
		{ id: 'https://www.youtube.com/c/%EC%97%90%EC%9D%BC%EB%A6%B0mindyoga', name: '에일리요가' },
		{ id: 'https://www.youtube.com/c/%EA%B9%80%EC%A7%80%EC%9C%A4TV', name: '김지윤' },
		{ id: 'https://www.youtube.com/user/philyou99', name: '묘한의사' },
		{ id: 'https://www.youtube.com/user/yonsesarang', name: '연세사랑병원' },
		{ id: 'https://www.youtube.com/c/RibaLinux', name: 'ribalinuk' },
		{ id: 'https://www.youtube.com/c/%EA%B9%80%EC%86%8C%ED%98%95%EC%B1%84%EB%84%90H', name: '김소형' },
		{ id: 'https://www.youtube.com/channel/UC8PoXoh1QsmLVSeWo9m8u0w', name: '독서연구소' },
		{ id: 'https://www.youtube.com/user/efilify', name: '통찰의학' },
		{ id: 'https://www.youtube.com/channel/UC_4u-bXaba7yrRz_6x6kb_w', name: '드림코딩' }
	];
</script>

<label>
	<input type="checkbox" bind:checked={visible}>
	<h1>The Hkw of YouTube
</h1>
</label>
{#if visible}
<input type=range bind:value={size}>
{/if}


<div bind:clientWidth={w} bind:clientHeight={h}>
	<span style="font-size: {size}px">
<ul>
	{#each cats as { id, name }, i}
		<li>
			<a target="_blank" href="{id}">
				{i + 1}: {name}
			</a>
		</li>
	{/each}
</ul>
</span>
</div>


<style>
	input { display: block; }
	div { display: inline-block; }
</style>
